<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools">
    <!-- Thêm quyền truy cập bộ nhớ và sử dụng camera -->
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.CAMERA" /> <!-- Quyền truy cập vị trí -->
    <uses-permission android:name="android.permission.ACCESS_FINE_LOCATION" />
    <uses-permission android:name="android.permission.ACCESS_COARSE_LOCATION" /> <!-- Định nghĩa tính năng camera trước, không bắt buộc -->
    <uses-feature
        android:name="android.hardware.camera.front"
        android:required="false" />

    <application
        android:allowBackup="true"
        android:dataExtractionRules="@xml/data_extraction_rules"
        android:fullBackupContent="@xml/backup_rules"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/Theme.SmartRecyclingApp"
        tools:targetApi="31">
        <activity
            android:name=".danhgiadiadiem"
            android:exported="false" />
        <activity
            android:name=".RecycleLocationActivity"
            android:exported="false" /> <!-- Thêm Google Maps API Key -->
        <meta-data
            android:name="com.google.android.geo.API_KEY"
            android:value="AIzaSyAkI1JAKDioFNWiS_LUpk9N1n-emaQXZKA" /> <!-- Khai báo các Activity -->
        <activity
            android:name=".HistoryActivity"
            android:exported="false" />
        <activity
            android:name=".ChangePasswordActivity"
            android:exported="false" />
        <activity
            android:name=".ProfileActivity"
            android:exported="false" />
        <activity
            android:name=".manhinhchao"
            android:exported="true"
            android:theme="@style/Theme.SmartRecyclingApp">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".manhinhchao2"
            android:exported="true" /> <!-- Màn hình chào sau màn hình chào -->
        <activity
            android:name=".manhinhlogin"
            android:exported="true" /> <!-- Màn hình đăng nhập -->
        <activity
            android:name=".manhinhdangky"
            android:exported="true" /> <!-- Màn hình đăng ký -->
        <activity
            android:name=".MainActivity"
            android:exported="true"
            android:launchMode="singleTop" />
    </application>

</manifest>